@keyframes shake {
  from {
    transform: translate(30%, 17%);
  }

  to {
    transform: translate(-30%, -17%);
  }
}

.board-grid {
  display: grid;
  gap: 0;
  overflow: auto; 
  margin: 0 auto;
}

@media (max-width: 600px) {
  .board-grid {
  }
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.cell.empty {
  background-color: #fff;
}

.cell.hasship {
  background-color: #00f;
}

.cell.damagedship {
  background-color: #f00;
}

.cell.sunken {
  background-color: var(--oc-gray-9);
  border: 1px solid var(--oc-gray-8);
  animation: shake 50ms 6 alternate backwards;
}

.cell.no-animation {
  background-color: var(--oc-gray-9);
  border: 1px solid var(--oc-gray-8);
  animation: none;
}

.cell.missed {
  background-color: var(--oc-gray-6);
  border: 1px solid var(--oc-gray-7);
}

.cell.green {
  background-color: #0f0;
}

.cell.blue {
  background-color: #00f;
}

.cell.orange {
  background-color: orange;
}

.cell.purple {
  background-color: #832c8377;
}

.cell.defaultcell {
  background-color: var(--oc-gray-4);
  border: 1px solid var(--oc-gray-5);
}

.cell.forbidden {
  background-color: var(--oc-red-2);
  border: 1px solid var(--oc-red-3);
}

.cell.placingShip{
  background-color: var(--oc-blue-2);
  border: 1px solid var(--oc-blue-3);
}

.hoverOver{
  background-color: var(--oc-orange-3);
  border: 1px solid var(--oc-orange-4);
}

#play-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#play-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Revealed Ship */
.board .revealedShip {
  background-color: var(--oc-teal-5);
  border: 1px solid var(--oc-teal-6);
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px var(--oc-teal-5);
  }
  to {
    box-shadow: 0 0 15px var(--oc-teal-3);
  }
}
